In [3]:
import pandas as pd

solution = pd.read_csv("fcfs_solution.csv", index_col=0)

In [4]:
solution

         bus  period    charge  discharge  consumption         SOC
0      150_1       0  0.000000        0.0         0.00  200.000000
30     150_1       1  0.000000        0.0         0.25  199.750000
60     150_1       2  0.000000        0.0         0.25  199.500000
90     150_1       3  0.000000        0.0         0.25  199.250000
120    150_1       4  0.000000        0.0         0.25  199.000000
...      ...     ...       ...        ...          ...         ...
43109  N16_4    1436  0.416667        0.0         0.00  253.333335
43139  N16_4    1437  0.416667        0.0         0.00  253.750001
43169  N16_4    1438  0.416667        0.0         0.00  254.166668
43199  N16_4    1439  0.416667        0.0         0.00  254.583335
43229  N16_4    1440  0.416667        0.0         0.00  255.000001

[43230 rows x 6 columns]